<div class="container">
  <table class="table table-striped">
  <div class="row"><tr>
    <div class="col-4"><th>待辦事項:</th></div>
    <div class="col"><td><%= @to_do.name %></td></div></tr></div>

  <div class="row"><tr>
    <div class="col-4"><th>完成期限:</th></div>
    <div class="col"><td><%= @to_do.due_date %></td></div></tr></div>

  <div class="row"><tr>
    <div class="col-4"><th>詳細內容:</th></div>
    <div class="col"><td><%= simple_format(@to_do.note) %></td></div></tr></div>
  <tr><td></td><td>
      <button type="button" class="btn btn-secondary btn-lg pull-right" >
        <%= link_to to_dos_path do %>
          <span class="glyphicon glyphicon-list-alt"></span>
        <% end %>
      </button>

      <button type="button" class="btn btn-secondary btn-lg pull-right" >
        <%= link_to edit_to_do_path(@to_do) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </button>
    </td>    
  </tr>
</div>